<header>
  <div class="header">
    <img src="../assets/logotransparentbusiness.png" width="20%" style="margin-left: 20px">
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar w/ text</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/accueil']">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']">S'enregister</a>
          </li>

          <li>
            <a class="nav-link" href="#">Se connecter</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  <!--début router liste-annonce-->
  <router-outlet></router-outlet>
  <!--fin router liste-annonce-->
</main>






<!--
début de footer
-->
<footer>
  <div class="row text-white bg-secondary pt-5">
    <div class=" col-4 text-center">
      <a class="text-decoration-none text-white" routerLink="/cgu">CGU</a>
    </div>

    <div class="col-4">
      <a class="text-decoration-none text-white" routerLink="/politique-de-confidentialite">Politique de
        confidentialité</a>
    </div>

    <div class="col-4">
      <a class="text-decoration-none text-white" routerLink="/mention-legale">Mentions légales</a>
    </div>
  </div>


  <div class="col-12 text-center pt-5 pb-5 text-white bg-secondary">
    <p>Business case coder by Delphine Développeuse Web et Web mobile</p>
  </div>
</footer>
<!--
fin de footer
-->
